/* topbar start */
.topbar {
  height: 35px;
  padding: 4px 50px 4px 86px;
  font-family: "Poppins", sans-serif;
}
.contactNumber * {
  font-size: 18px;
  color: #425864;
}
.contactNumber .fa-phone {
  transform: rotate(270deg);
}
.contactNumber a {
  text-decoration: none;
}
.contactNumber a:hover {
  text-decoration: underline;
  color: #425864;
}
.socialLinks {
  padding: 0 15px;
}
.socialLinks a {
  font-size: 18px;
  color: #425864;
  text-decoration: none;
}
.socialLinks a :hover {
  color: #00adee !important;
}
.socialLinks a i {
  padding: 0 10px 0px 10px;
}
/* topbar end */
